body {
    max-width: 450px;
    margin: 10px auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(213, 244, 249);
}

h1, div, a {
    color: white;
    border-radius: 5px;
}

h1, div {
    background-color: rgb(241, 115, 115);
    border: 2px solid rgb(169, 48, 48);
}

h1 {
    padding: 5px;
    margin: 0 auto;
}

ul  {
    list-style: none;
    padding-left: 0;
}

div {
    margin: 10px;
    padding: 15px;
}

a {
    background-color: rgb(112, 35, 35);
    text-decoration: none;
    padding: 10px;
}

a:hover {
    font-size: 18px;
    background-color: rgb(164, 40, 40);
}

img {
    border-radius: 15px;
}