body {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(213, 244, 249);
    line-height: 1.6;
}

h1, div, a {
    color: white;
    border-radius: 5px;
}

h1, div {
    background-color: rgb(241, 115, 115);
    border: 2px solid rgb(169, 48, 48);
}

h1 {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: -8px;
    display: inline-block;
}

h2 {
    margin-top: 5px;
    margin-bottom: -15px;
}

ul, ol  {
    list-style: none;
    padding-left: 0px;
}

div {
    margin: 10px;
    padding: 15px;
}

a {
    background-color: rgb(112, 35, 35);
    text-decoration: none;
    padding: 10px;
}

a:hover:not(#home) {
    font-size: 18px;
    background-color: rgb(164, 40, 40);
}

img {
    border-radius: 15px;
    margin-top: 20px;
}

#home:hover {
    background-color: rgb(34, 148, 24);
    font-size: 18px;
}

p {
    text-align: justify;
}

#home {
    text-align: center;
    margin: 5px auto;
    padding: 0px 8px;
    max-width: fit-content;
    display: block;
    background-color: rgb(10, 96, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#intro {
    text-align: center;
}